Origin: XBian
Package: xbian-package-vnc-server
Version: 2.0.1
Essential: No
Priority: optional
Section: net
Architecture: armhf
Depends: xbian-package-firmware | firmware-imx, libc6, libvncserver0, zlib1g, libgcc1, libgpg-error0, libp11-kit-dev, libjpeg62
Maintainer: mk01 <development@xbian.org>
Description: VNC Server for RPI and Cubox-i
