Origin: XBian
Package: xbian-package-vnc-server
Version: 1.0.0-3b
Essential: No
Priority: optional
Section: net
Architecture: armhf
Depends: xbian-package-firmware, libc6, libvncserver0, zlib1g, libjpeg8, libgcrypt11, libgnutls26, libgcc1, libgpg-error0, libtasn1-3, libp11-kit-dev
Maintainer: mk01 <development@xbian.org>
Description: VNC Server for Raspberry PI using dispmanx https://github.com/hanzelpeter/dispmanx_vnc.git
